[Desktop Entry]
Version=0.1
Type=Application
Terminal=false
Exec=/usr/bin/Aptana_Studio_3/AptanaStudio3.sh
Name=Linker
Comment=Linker Web Application
